.jumbotron {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 35px;
    background-color: coral;
    color: lightskyblue;
        
}
.btn {
    display: flex; 
    justify-content: center;
}
body {
    background-image: url("../images/wood2.jpg"); 
}
.container {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    padding: 10pt;
    text-align: center;
    font-weight: bolder;
}